* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
  font-family: system-ui; }

p {
  font-size: smaller;
  color: #808080bf; }

.header nav, .header .header__body, .unique .unique__card, .believe .believe_container {
  display: flex; }

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .header nav ul a {
    text-decoration: none;
    padding-left: 1rem;
    color: white; }

.header nav, .header .header__body, .unique, .believe .believe_container, .video div {
  width: 90%;
  margin: auto; }

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.header .header__body .header__title button {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: 0; }

.header {
  height: 950px;
  background-image: url(/img/banner/home-banner.jpg); }
  .header nav {
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
    .header nav ul a {
      text-transform: uppercase; }
  .header .header__body {
    justify-content: space-between;
    align-items: center;
    padding-top: 5.5rem; }
    .header .header__body .header__title {
      width: 40%; }
      .header .header__body .header__title h1 {
        font-size: 4rem;
        color: white; }
      .header .header__body .header__title p {
        color: white;
        padding: 2rem 0; }
  .header .right__mobile {
    width: 25%; }
    .header .right__mobile img {
      width: 100%; }

.unique {
  padding: 7rem 0; }
  .unique .unique__title {
    width: 40%;
    margin: auto;
    text-align: center; }
    .unique .unique__title h2 {
      font-size: 2.3rem; }
    .unique .unique__title p {
      padding: 1rem 0; }
  .unique .unique__card {
    justify-content: space-between;
    padding-top: 3rem; }
    .unique .unique__card div {
      border: 1px solid white;
      padding: 1rem;
      width: 23%;
      box-shadow: 1px 4px 10px 1px #ccc; }
      .unique .unique__card div figure {
        padding: 1rem 0; }
      .unique .unique__card div h3 {
        padding: 1rem 0; }
      .unique .unique__card div p {
        padding-bottom: 2rem; }

.believe {
  background-color: #f9faff;
  padding: 6rem 0; }
  .believe .believe_container {
    justify-content: space-between;
    align-items: center; }
    .believe .believe_container .back_ground_mob {
      width: 45%; }
      .believe .believe_container .back_ground_mob figure {
        width: 100%; }
        .believe .believe_container .back_ground_mob figure img {
          width: 100%; }
    .believe .believe_container .believe_content {
      width: 45%; }
      .believe .believe_container .believe_content h2 {
        font-size: xxx-large;
        font-weight: 400; }
      .believe .believe_container .believe_content p {
        padding: 2rem 0; }
      .believe .believe_container .believe_content button {
        background-image: linear-gradient(left, #5f55ea, #9646db) !important;
        padding: 1rem 3rem;
        border-radius: 5px;
        border: 0;
        color: white;
        font-weight: 600;
        box-shadow: 0px 4px 13px 2px #ccc; }

.second_believe {
  background-color: white; }

.video div {
  padding: 5rem 0;
  position: relative; }
  .video div figure {
    position: absolute;
    top: 44%;
    left: 46%; }

.Pricing {
  background-color: #f9faff;
  padding: 5rem 0; }
  .Pricing button {
    background-color: #f9faff;
    font-size: smaller;
    font-weight: 500; }

.testimonials {
  background-color: #f9faff; }

.app {
  background-image: linear-gradient(left, #9646db9e, #463aeac9) !important; }
  .app div header {
    width: 60% !important; }

.latest_card {
  background-color: #f9faff; }
  .latest_card .date {
    width: fit-content; }

.footer div div div ul li {
  color: #ffffffcf; }

.footer form input::placeholder {
  padding-left: 1rem;
  font-size: smaller;
  color: gray; }

.footer form button {
  background-image: linear-gradient(left, #5f55ea, #9646db) !important;
  margin-left: -7rem;
  color: white; }

.footer .act {
  color: purple; }

.footer .social a {
  background-color: #00000059;
  padding: 0.3rem 0.5rem; }
